.App {
  text-align: center;
}

.App-header {
  background-color: white;
  color: black;
  padding: 20px;
}

.content {
  padding: 20px;
}

.MyNavbar {
  background-color: white !important; /* Override Bootstrap's dark background */
  color: black; /* Set text color */
  padding: 10px 20px; /* Add padding */
  position: fixed; /* Position navbar at the top */
  width: 100%; /* Full width */
  top: 0; /* Position at the top */
  z-index: 1000; /* Set z-index to ensure it appears above other content */
}


.navbar-link {
  color: black ; /* Set link color */
  text-decoration: none; /* Remove underline */
  margin-right: 20px; /* Add margin between links */
}

.navbar-link:hover {
  color: lightgray; /* Change link color on hover */
}
